@import url('https://fonts.googleapis.com/css?family=Nunito&display=swap');

body {
    font-family: "Nunito", "arial" !important;
}

.block {
    width: 100%;
    height: 100vh;
}

.diag {
    border-bottom: 50vh solid red;
    border-left: 0px solid transparent;
    height: 0;
    width: 60%;
    transform: skew(-45deg);
    margin-left: -25vh;
}

.auto-block {
    width: 100%;
    height: auto;
}

.red {
    background-color: #f21b3f;
}

.orange {
    background-color: #ff9914;
}

.blue {
    background-color: #3498DB;
}

.gray {
    background-color: #2C3E50;
}

nav {
    background-color: #fff;
    position: fixed;
    top: 0;
    width: 100%;
    height: 5vh;
}

nav * {
    text-decoration: none !important;
}

.rightnav {
    position: absolute;
    right: 0;
    line-height: 5vh;
}

.rightnav>a>span {
    color: #606470;
    margin-right: 3vh;
    border-radius: 1vh;
    font-size: 1.5vh;
    padding: 1vh
}

.rightnav>a>span:hover {
    color: #494C55;
}

.nav-link {
    color: #35C602 !important;
}

.nav-link:hover {
    color: #3498DB !important;
}

#linkimg {
    color: #ff9914;
    position: absolute;
    line-height: 5vh;
    margin-left: 2vh;
    font-size: 2vh;
    height: 4.5vh;
    width: 5vh;
    border-radius: 1vh;
    margin-top: 0.25vh;
}

#navimg {
    position: absolute;
    height: 3.5vh;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}