/*Nunito*/
/* @font-face {
    font-family: "Nunito";
    src: url("fonts/Nunito/nunito-light-webfont.woff2") format('woff2');
    font-weight: 100;
} 

@font-face {
    font-family: "Nunito";
    src: url("fonts/Nunito/nunito-regular-webfont.woff2") format('woff2');
}

@font-face {
    font-family: "Nunito";
    src: url("fonts/Nunito/nunito-bold-webfont.woff2") format('woff2');
    font-weight: bold;
}  */

/*Lato*/
/* @font-face {
    font-family: "Lato";
    src: url("fonts/Lato/lato-light-webfont.woff2") format('woff2');
    font-weight: 100;
}

@font-face {
    font-family: "Lato";
    src: url("fonts/Lato/lato-regular-webfont.woff2") format('woff2');
}

@font-face {
    font-family: "Lato";
    src: url("fonts/Lato/lato-bold-webfont.woff2") format('woff2');
    font-weight: bold;
}  */

/*Roboto*/
/* @font-face {
    font-family: "Roboto";
    src: url("fonts/Roboto/roboto-light-webfont.woff2") format('woff2');
    font-weight: 100;
}

@font-face {
    font-family: "Roboto";
    src: url("fonts/Roboto/roboto-regular-webfont.woff2") format('woff2');
}

@font-face {
    font-family: "Roboto";
    src: url("fonts/Roboto/roboto-bold-webfont.woff2") format('woff2');
    font-weight: bold;
}  */

@font-face {
    font-family: "Nunito";
    src: url("fonts/Nunito/nunito-light-webfont.woff2") format('woff2');
    font-weight: 100;
}

@font-face {
    font-family: "Lato";
    src: url("fonts/Lato/lato-light-webfont.woff2") format('woff2');
    font-weight: 100;
}

/*Metropolis*/
@font-face {
    font-family: "Metropolis";
    src: url("fonts/Metropolis/metropolis-light-webfont.woff2") format('woff2');
    font-weight: 100;
}

html,
body {
    overflow-x: hidden;
    font-family: 'Nunito', 'Arial';
}

body {
    margin: 0 !important;
    padding: 0 !important;
    margin-block-start: 0 !important;
    margin-block-end: 0 !important;
    font-weight: 100;
}

body::-webkit-scrollbar {
    width: 10px;
}

body::-webkit-scrollbar-thumb {
    background-color: #a3a3a3;
    border-radius: 10px;
}

body::-webkit-scrollbar-thumb:hover {
    background: #2C363F;
}

hr {
    margin: 0;
    border-top: 0;
}

p {
    margin-top: 0;
    margin-bottom: 0;
}

.desc {
    font-family: 'Nunito';
}

dl,
ol,
ul {
    margin-top: 0;
    margin-bottom: 0;
    padding-inline-start: 0px;
}

a {
    text-decoration: none !important;
    transition: 0.3s;
}

a:hover {
    color: #7B68EE;
}

img {
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-user-drag: none;
}

.row {
    margin-left: 0 !important;
    margin-right: 0 !important;
    padding: 0;
}

nav {
    height: 5.25vh;
    font-size: 2vh;
    width: 100%;
    position: relative;
    font-weight: 100;
    font-family: 'Metropolis';
}

nav .left {
    margin-left: auto;
    line-height: 0vh;
    z-index: 3;
}

nav .right {
    margin-right: auto;
    margin-left: 3vh;
    line-height: 0vh;
    z-index: 3;
}

nav a {
    color: #fff !important;
}

nav img {
    height: 4vh;
    cursor: pointer;
    z-index: 3;
    transition: 0.3s;
    top: .625vh;
    left: 0;
    right: 0;
    position: fixed;
    margin: auto;
}

nav .active {
    color: #3BB5FC;
}

nav span {
    padding-right: 4vh;
    padding-left: 4vh;
    font-size: 1.7vh;
    transition: 0.3s;
}

nav .left span {
    padding-left: 1vh;
}

nav span:hover {
    color: #3BB5FC !important;
}

/* Icon 3 */
.wrap-icon {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 5.25vh;
    z-index: 2;
    -webkit-backdrop-filter: blur(20px);
    backdrop-filter: blur(20px);
}

#nav-icon {
    width: 3.5vh;
    height: 5.25vh;
    position: absolute;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;
    right: 5%;
    top: 1.4vh;
}

#nav-icon span {
    display: block;
    position: absolute;
    height: 2px;
    width: 100%;
    padding: 0vh;
    background: #3BB5FC;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
}

#nav-icon span:nth-child(1) {
    top: 0px;
}

#nav-icon span:nth-child(2),
#nav-icon span:nth-child(3) {
    top: 1vh;
}

#nav-icon span:nth-child(4) {
    top: 2vh;
}

#nav-icon.open span:nth-child(1) {
    width: 0%;
    left: 50%;
    transform: scale(0);
}

#nav-icon.open span:nth-child(3) {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}

#nav-icon.open span:nth-child(2) {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

#nav-icon.open span:nth-child(4) {
    width: 0%;
    transform: scale(0);
    left: 50%;
}

/*Footer*/
.foot-wrap {
    width: 100%;
    position: relative;
}

footer {
    background-color: #2C363F;
    color: #fff;
    padding-top: .5vh;
    padding-bottom: .5vh;
    width: 100%;
}

footer div {
    width: 100%;
    text-align: center;
    font-size: 1.8vh;
    font-family: 'Metropolis';
    margin-top: 0.3vh;
    margin-bottom: 0.3vh;
}

footer i {
    color: #fff;
    font-size: 2.2vh;
    margin-left: 1.2vh;
    margin-right: 1.2vh;
    transition: 0.3s;
}

footer .mid>:nth-child(1) i:hover {
    color: #0fa3f8;
}

footer .mid>:nth-child(2) i:hover {
    color: #7289da;
}

footer .mid>:nth-child(3) i:hover {
    color: #ca0000;
}

footer .mid>:nth-child(4) i:hover {
    color: #2EB67D;
}

footer .mid>:nth-child(5) i:hover {
    color: #ca0000;
}

nav .collapse,
nav #nav-icon,
nav img {
    display: none;
}

@media only screen and (max-width: 100vh) {

    nav .left,
    nav .right {
        display: none;
    }

    nav .collapse,
    nav #nav-icon,
    nav img {
        display: unset !important;
    }

    nav .navbar-nav {
        background-color: rgba(0, 0, 0, 1);
        width: 100%;
        position: fixed;
        top: 0vh;
        left: 0;
        border-bottom-left-radius: 1vh;
        border-bottom-right-radius: 1vh;
        overflow: hidden;
        opacity: 0;
        transition: .25s ease-in-out;
        transform: translateY(calc(-100% - 10vh));
        z-index: 1;
        padding-top: 5.25vh;
        padding-bottom: 1vh;
        -webkit-backdrop-filter: blur(20px);
        backdrop-filter: blur(20px);
    }

    nav .navbar-nav> :last-child {
        border-bottom-left-radius: 1vh;
        border-bottom-right-radius: 1vh;
    }

    nav .navbar-nav a {
        padding-top: 1.5vh;
        padding-bottom: 1.5vh;
        padding-left: 2vh;
        font-size: 2.2vh;
        transition: 0.3s;
    }
}