body {
    padding-top: 6vh !important;
    background-color: #000;
}

/*Resource*/
.resource {
    width: 80%;
    margin: auto;
}

.resource .title {
    text-align: center;
    font-size: 5vh;
    font-family: 'Metropolis';
    font-weight: 100;
    color: #3BB5FC;
    margin-bottom: 2vh;
}

.resource .row {
    justify-content: center;
    flex-wrap: wrap;
}

.resource .grid>a {
    min-width: 40vh;
    max-width: 70vh;
    background-color: #fff;
    border-radius: 0.75vh;
    display: inline-block;
}

.resource .img-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    border-top-left-radius: 0.75vh;
    border-top-right-radius: 0.75vh;
    overflow: hidden;
}

.resource img {
    width: 100%;
    border-top-left-radius: 0.75vh;
    border-top-right-radius: 0.75vh;
}

.resource .desc {
    text-align: center;
    font-size: 1.5vh;
    padding: 1vh 3%;
}

.grid {
    background: #EEE;
    width: auto;
}

.gutter-sizer {
    width: 2vh;
}

.grid-item,
.grid-sizer {
    width: calc(100%/3 - 3vh);
    min-width: 40vh;
    max-width: 70vh;
}

.grid-item {
    height: 120px;
    float: left;
    background: #D26;
    margin-bottom: 2vh;
}

.grid-item--heighta {
    height: auto;
}

.grid-item--height2 {
    height: 200px;
}

.grid-item--height3 {
    height: 260px;
}