body {
    overflow-x: scroll;
}

.wrap {
    overflow-x: scroll;
}

@media only screen and (orientation:portrait) {
    .fc-scroller {
        height: 70vh !important;
    }

    .wrap {
        overflow-x: scroll;
        height: 90vh;
    }

    .fc-content {
        height: 2vh !important;
    }

    .fc-title {
        font-size: 1.3vh !important;
    }

    .wrap {
        height: 70vh;
        margin-bottom: 15vh;
    }

    .fc-toolbar h2 {
        font-size: 2.8vh !important;
    }

    .fc-list-heading-alt,
    .fc-list-heading-main,
    .fc-list-item-time,
    .fc-list-item-title {
        font-size: 1.8vh;
    }

    .fc-event-dot {
        width: .8vh;
        height: .8vh;
        border-radius: 100%;
        margin-top: .7vh;
    }
}

@media only screen and (orientation:landscape) {
    .fc-view-container {
        margin-top: -4vh;
    }

    .wrap {
        width: 90%;
    }

    .fc-toolbar h2 {
        font-size: 4vh !important;
    }

    .fc-list-heading-alt,
    .fc-list-heading-main,
    .fc-list-item-time,
    .fc-list-item-title {
        font-size: 3vh;
    }

    .fc-event-dot {
        width: 1.5vh;
        height: 1.5vh;
        border-radius: 100%;
        transform: translateY(1.2vh);
    }
}