.schedule,
.pdf-wrap {
    overflow-x: scroll;
    overflow-y: hidden;
}

.fa-chevron-left.sa,
.fa-chevron-right.sa,
.fa-chevron-left.pa,
.fa-chevron-right.pa {
    display: none;
}

@media only screen and (orientation:portrait) {
    .os {
        width: 90%;
    }

    .pdf-wrap {
        width: calc(100% - 4vh);
    }
}

@media only screen and (orientation:landscape) {
    .pdf-wrap {
        width: calc(100% - 6vh);
    }
}